[Unit]
Description=howan Wayland screensaver
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/howan daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
